body{
    background-image: linear-gradient(to left, blue, blueviolet, pink );
}
h1{
    color: #440b8b;
    text-align: center;
}
a{
    font-family: 'Finger Paint', cursive;
    background-color: black;
    color: aqua;
    padding: 0px 15;
    text-decoration: none; 
}
a:hover{
    text-decoration: underline;
}
hr {
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
   background: rgb(255, 0, 187);
   height: 8px;
   border: 0px;
}
h2{
    text-align: center;
    color: blue;
}
mark{
    color: blue;
}